# Example environment variables for Atw-timesheet API
DATABASE_URL="postgresql://postgres:password@localhost:5432/stage?schema=public"
SMTP_HOST=live.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass
SMTP_FROM=no-reply@mailtrap.io
JWT_SECRET=your_jwt_secret
ADMIN_REGISTRATION_KEY=your_admin_registration_key
